.adress {
    border: 1px solid #DCDCDC;
    height: 486px;
    width: 771px;
    margin-top: 50px;
    margin-left: 170px;
}
.inputaddress {
    margin-left: 25px;
    margin-bottom: 30px;
   
}
.field {
    margin-left: -276px;
}