.mainBox{
    display: flex;
    justify-content: center;  
  align-content: center;
  flex-direction: column;
  gap: 5px;
  
}
.box{
   
    /* margin-left: 600px; */
    /* margin-top: 19px;  */
    margin-left:40% ;
    width: 310px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #9a9a9c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}
.headingTag{
    margin-top: 150px;

}
.textinBox{
    margin-left: 20%;
    font-size: x-small;
    margin-top: 20px;
    width: 175px;
}
.emailBox{
    margin-top: 20px;
    width: 75%;
    margin-left:37px;
}
.resetBtn{
    margin-top: 25px;
    background:#a03037 ;

}
.btn{
    width: 100%;
}
.createbtn {
    margin-top:50px ;
    background:#F9F9F8;
    margin-left: -37px;
    width:309px ;
    height:88px ;
}


